body {
  margin: 0; padding: 0;
  background: linear-gradient(#222222, #444444);
  /* scroll-behavior: smooth; */
  -ms-overflow-style: none;
}
body::-webkit-scrollbar {
  display: none;
}
.slideshow {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.fullscreen {
  width: 100vw; height: 100vh;
  overflow: scroll;
  position: relative;
  overflow-y: hidden; /* Disable scrolling when image is expanded*/
  flex: 0 0 auto;  /* When placed inside a flex container */
}
img.fullscreen {
  object-fit: contain;
  cursor: pointer;
}
.fullscreen::-webkit-scrollbar {
  display: none;
}
div.fullscreen:hover img {
  transform: scale(0.80);
}
.filtered {
  transition: filter 0.2s, transform 0.2s;
  transform: scale(0.9);
  filter: drop-shadow(0 0 15px black);
}
.blurred {
  filter: blur(10px) opacity(0.4);
  transform: scale(1.2) !important;
}
.description {
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: opacity 0.1s;
  /* transition-delay: 0.05s; */
  user-select: none;
}
.description, .description {
  font-family: Arial, Helvetica, sans-serif;
}
.description > h1 {
  color: white;
  font-size: 50px;
  cursor: pointer;
}
.description > a {
  user-select: none;
  color: lightgray;
  font-size: 30px;
  cursor: pointer;
}
.description h1:hover {
  text-decoration: underline;
}
.description p {
  color: white;
  margin-top: -10px;
  margin-bottom: 50px;
  text-align: center;
}
.description i {
  font-size: 50px;
  line-height: 50px;
  position: relative;
  top: 7px;
}
.hidden {
  opacity: 0;
  pointer-events: none;
}
.hint {
  margin: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
  opacity: 0.4;
  z-index: -1;
}
.top-right {
  position: absolute;
  top: 0;
  right: 0;
}
.top-left {
  position: absolute;
  top: 0;
  left: 0;
}
.bottom {
  position: absolute;
  bottom: 10px;
  width: 100%;
}
.hint, .hint i {
  color: white;
  font-size: 35px;
  font-weight: 800;
  user-select: none;
  cursor: pointer;
  margin: 5px 10px;
}